.project
.settings/
.classpath
target/
blaze-faces/.project
blaze-faces/.settings/
blaze-faces/.classpath
blaze-faces/target/
blaze-faces-mojarra/.project
blaze-faces-mojarra/.settings/
blaze-faces-mojarra/.classpath
blaze-faces-mojarra/target/
blaze-faces-mojarra/faces-config.NavData
blaze-faces-myfaces/.project
blaze-faces-myfaces/.settings/
blaze-faces-myfaces/.classpath
blaze-faces-myfaces/target/
blaze-faces-myfaces/faces-config.NavData