.project
.settings/
.classpath
target/
blaze-faces/.project
blaze-faces/.settings/
blaze-faces/.classpath
blaze-faces/target/
blaze-faces/faces-config.NavData
blaze-faces-mobile/.project
blaze-faces-mobile/.settings/
blaze-faces-mobile/.classpath
blaze-faces-mobile/target/
blaze-faces-mobile/faces-config.NavData
examples/.project
examples/.settings/
examples/.classpath
examples/target/
examples/faces-config.NavData
examples/showcase/.project
examples/showcase/.settings/
examples/showcase/.classpath
examples/showcase/target/
examples/showcase/faces-config.NavData
maven-jsf-plugin/.project
maven-jsf-plugin/.settings/
maven-jsf-plugin/.classpath
maven-jsf-plugin/target/