/* 
    Document   : panel
    Created on : 12.08.2011, 18:44:26
    Author     : Bernd
    Description:
       
    Purpose of the stylesheet follows.
*/

/* 

   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.panel-wrapper { margin-bottom: 20px; position: relative; width: 100%; }

    /* Panel title */
    
    .panel-title { position: relative; top: 0; height: 34px; }
        .panel-title .lft { background: #ccc url(#{resource['blazefaces:images/panel_title_lft.png']}) no-repeat; height: 34px; }
        .panel-title .mdl { background: #ccc url(#{resource['blazefaces:images/panel_title_mdl.png']}) repeat-x; padding: 4px 5px 6px 0; height: 24px; }
            .panel-title h3 { color: #000; float: left; display: inline; font-size: 0.75em; font-weight: bold; line-height: 1.3em; margin: 6px 0 0 3px; text-shadow: 0 1px #fff; text-transform: uppercase; white-space: nowrap; }
            .panel-title .sortable-click-area { background: url(#{resource['blazefaces:images/panel_sortable_ico.png']}) no-repeat center; cursor: move; float: right; margin-top: 2px; padding: 5px 0 5px 5px; text-indent: -9999px; height: 10px; width: 11px; }
            .panel-title .toggle { background: url(#{resource['blazefaces:images/toggle_arrow_up.png']}) no-repeat center; display: block; float: left; text-indent: -9999px; margin-right: 2px; height: 5px; width: 8px; padding: 12px 5px 8px 10px; }
        .panel-title .rgt { background: #ccc url(#{resource['blazefaces:images/panel_title_rgt.png']}) no-repeat; height: 34px; }
    
    /* Panel body */
    
    .panel-body { display: inline-block; position: relative; width :100%; }
        .form-content { clear: both; position: relative; }
            .tab-wrapper { background: #FCFCFC; border: 1px solid #d0d0d0; border-top: none; border-bottom: none; overflow: hidden; position: relative; }
                .form-content .empty-placeholder { padding: 30px; }
                    .form-content .empty-placeholder p { color: #222; font-weight: bold; text-align: center; }
                .form-content ul { float: left; width: 100%; }
                    .form-content li { background: #fcfcfc url(#{resource['blazefaces:images/form_row_bg.png']}) repeat-x bottom; display: block; float: left; padding: 10px 0; width: 100%; }
                    .form-content li.last { margin-bottom: -2px; padding-bottom: 14px; }
                        .label-wrapper { float: left; padding-top: 7px; margin-right: 1%; width: 20%; max-width: 180px; }
                            .label-wrapper label { font-weight: bold; margin-left: 10px; margin-bottom: 5px; }
                            .label-wrapper .req { cursor: default; float: left; font-size: 0.7em; font-style: italic; margin-left: 3px; }
                        .input-wrapper { float: left; width: 79%; }
                            .input-wrapper input { clear: both; float: left; }
                            .input-wrapper .value { display: block; font-size: 0.7em; margin-top: 7px; }
                            .input-wrapper a.task { 
                                color: #4D9CE1;
                                font-size: 0.7em;
                                float: left;
                                display: inline-block;
                                margin-left: 5px;
                                padding-top: 9px;
                            }
                            .input-wrapper .description, 
                            .input-wrapper .error-msg { 
                                display: inline-block;
                                float: left;
                                font-style: italic;
                                clear: both;
                                line-height: 1.4em;
                                margin: 0;
                                padding: 13px 0 0;
                            }
                                .input-wrapper .error-msg {
                                    color: #DD2020;
                                }

        .controls { background: url(#{resource['blazefaces:images/controls_row_bg_mdl.png']}) repeat-x; float: left; display: block; height: 39px; margin-top: -1px; position: relative; width: 100%; }
            .controls .inner { border-left: 1px solid #d0d0d0; border-right: 1px solid #d0d0d0; height: 19px; padding: 9px 10px 11px; }
                .controls .lft { background: url(#{resource['blazefaces:images/controls_row_bg_lft.png']}) no-repeat; height: 39px; left: 0; width: 4px; }
                .controls .mdl { 
                        background: url(#{resource['blazefaces:images/controls_row_bg_mdl.png']}) repeat-x; 
                        height: 29px; 
                        padding: 10px 7px 0; 
                        left: 3px; 
                        right: 3px; 
                }
                    .controls select { float: left; }
                .controls .rgt { background: url(#{resource['blazefaces:images/controls_row_bg_rgt.png']}) no-repeat; height: 39px; right: 0; width: 4px;}
                
        .panel-bottom { display: block; clear: both; height: 4px; bottom: -4px; position: absolute; width: 100%; }
            .panel-bottom .lft { background: url(#{resource['blazefaces:"images/content_box_bttm_lft.png.xhtml?ln=blazefaces") no-repeat; height: 4px; width: 4px;}
            .panel-bottom .mdl { background: url(#{resource['blazefaces:images/content_box_bttm_mdl.png']}) repeat-x; height: 4px; left: 4px; right: 4px;}
            .panel-bottom .rgt { background: url(#{resource['blazefaces:images/content_box_bttm_rgt.png']}) no-repeat; height: 4px; width: 4px; }

/* Closed Panel Title */

.panel-wrapper.closed .panel-title { height: 34px; }
    .panel-wrapper.closed .panel-title .lft { background: #ccc url(#{resource['blazefaces:images/panel_title_closed_lft.png']}) no-repeat; height: 34px; }
    .panel-wrapper.closed .panel-title .mdl { background: #ccc url(#{resource['blazefaces:images/panel_title_closed_mdl.png']}) repeat-x; height: 24px; }
    .panel-wrapper.closed .panel-title .rgt { background: #ccc url(#{resource['blazefaces:images/panel_title_closed_rgt.png']}) no-repeat; height: 34px; }
    .panel-wrapper.closed .panel-title .toggle { background: url(#{resource['blazefaces:images/toggle_arrow_down.png']}) no-repeat center; }
    
/* Panel without controls */

.panel-wrapper.no-controls .panel-bottom { bottom: -2px; height: 3px; }
    .panel-wrapper.no-controls .panel-bottom .lft { background: url(#{resource['blazefaces:images/content_box_bttm_lft_read.png']}) no-repeat; height: 3px; width: 3px; }
    .panel-wrapper.no-controls .panel-bottom .mdl { background: url(#{resource['blazefaces:images/content_box_bttm_mdl_read.png']}) repeat-x; height: 3px; left: 3px; right: 3px; }
    .panel-wrapper.no-controls .panel-bottom .rgt { background: url(#{resource['blazefaces:images/content_box_bttm_rgt_read.png']}) no-repeat; height: 3px; width: 3px; }

/* Panel without title */

.withoutTitle .form-content { 
    border: 1px solid #d0d0d0;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
    .withoutTitle .tab-wrapper { border: none; padding-top: 10px; }